body{
    margin:0;
    font-family:Arial;
    background:#050b2e;
    color:white;
}

header{
    text-align:center;
    padding:40px;
}

.container{
    display:flex;
    gap:20px;
    padding:20px;
}

.sidebar{
    width:220px;
    background:#0d143f;
    padding:20px;
    border-radius:15px;
}

.grid{
    flex:1;
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
    gap:20px;
}

.card{
    background:#0d143f;
    padding:15px;
    border-radius:15px;
}

.card img{
    width:100%;
    border-radius:10px;
}

button{
    width:100%;
    margin-top:10px;
    padding:10px;
    border:none;
    background:#3b82f6;
    color:white;
    border-radius:10px;
    cursor:pointer;
}
